body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

#main {
  z-index: 1;
}

#top-nav {
	position:absolute;
	color: green !important;
}

#top-nav a {
	font-size: 20px;
}

.non-across {
	position: absolute;
}

.canvas {
  width: 100%;
}

#sidenav-overlay{
  background: transparent !important;
}

.collapsible-header {
  font-size: 23px !important;
}

.current-playlist {
  background-color: rgba(0, 0, 0, 0.1)
}
