body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

#main {
  z-index: 1;
}

#top-nav {
	position:absolute;
}

.non-across {
	position: absolute;
}

.canvas {
  width: 100%;
}

#sidenav-overlay{
  background: transparent !important;
}

.collapsible-header {
  font-size: 23px !important;
}
