body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

#main {
  z-index: 1;
}

#top-nav {
	position:absolute;
	color: green !important;
}

#top-nav a {
	font-size: 20px;
}

.non-across {
	position: absolute;
}

.canvas {
}

#sidenav-overlay{
  background: transparent !important;
}

.collapsible-header {
  font-size: 23px !important;
}

.current-playlist {
  background-color: rgba(0, 0, 0, 0.2)
}

.initial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: grey;
  z-index: 1000;
  will-change:;
}

.initial-overlay div{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inital-overlay a {
  color: white;
}

.song-snippet {
	background-color: rgba(0, 0, 0, 0.02);
  position: absolute;
  right: 40px;
  top: 80px;
  width: 200px;
  height: 50px;
  padding-top: 11px;
	text-align: right;
}

.snippet-text{
  font-size: 17px;
  margin-right: 3px ;
  padding-left: 0px;
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
